<html>
    <head>
        <title>Trang Chủ</title>
        
    </head>
    <body>
        <video id="localStream" width="500" controls>

        </video>
        <script src="js/bundle.js"></script>
    </body>
</html>